.blocImage {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    justify-content: center;
}

.characterItem {
    margin: 10px;
}

.top-pagination, .bottom-pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}
